.header {
    z-index: 5;
}

.trail-finder {
    font-family: 'Lobster', cursive;
    font-size: 34px;
    font-weight: bold;
    color: rgb(25, 92, 25);
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: none;
    padding: none;
}

.trail-finder a:hover {
    text-decoration: none;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: none;
    padding: 10px;
    height: 40px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 60%);
}

.right {
    margin-right: 1em;
    display: flex;
    gap: 40px;
    margin-bottom: none;
    margin-left: auto;
    color: rgb(16, 65, 16);
    font-size: 24px;
}

.search {
    margin-top: 5px;
}

.link {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .home-header {
        padding: 10px 0;
    }

    .trail-finder {
        font-size: 28px;
        margin-left: 10;
    }

    .right {
        margin-right: 10px;
        flex-direction: row;
        gap: 20px;
    }
}