.local-trails-section {
  margin-top: 40px;
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.local-trails-heading {
  color: rgb(16, 65, 16);
  /* flex: 1; */
  font-size: 24px;
  padding-right: 2em;
  /* Adjust the padding value as needed */
  /* margin-top: auto; */
  margin-bottom: auto;
}

.local-heading {
  margin-bottom: 0px;
  padding-left: 40px;
}

.local-subheading {
  margin-top: 10px;
  font-weight: 200;
  font-size: 1em;
  padding-left: 40px;
}

.local-trails-container {
  color: rgb(16, 65, 16);
  background-color: antiquewhite;
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.local-button {
  font-size: .8em;
  padding: .8rem 1.5rem;
  border: none;
  background-color: rgb(16, 65, 16);
  border: 1px solid rgb(16, 65, 16);
  color: white;
  border-radius: 5%;
  cursor: pointer;
  transition: background-color 0.8s ease;
  margin-left: 40px;
}

.local-button:hover {
  background-color: rgb(9, 37, 9);
  border-radius: 5%;
}

.toggle-button {
  padding: 5px 10px;
  border: none;
  background-color: antiquewhite;
  border: 1px solid rgb(16, 65, 16);
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.local-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* Add width to make the local container take up full width */
  /* margin-bottom: 40px; */
  padding-bottom: 90px;
  background-color: antiquewhite;
}

/* Style for the toggle button when it's active (selected) */
.toggle-button.active {
  background-color: rgb(16, 65, 16);
  color: #fff;
}

.local-loading-animation-container {
  margin-left: 100px;
  margin-top: -100px;
}

.trail-box {
  border-radius: 5%;
  padding: 10px; /* Reduce the padding to make the boxes smaller */
  margin-bottom: 10px;
  text-align: center;
  flex: 1 1 150px; /* Adjust the flex property to control the size of the boxes */
  height: 250px;
  position: relative; /* Add position relative for absolute positioning of the description */
}

.trail-box .local-description {
  font-size: 15px;
  color: transparent;
  transition: color 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Optional padding to add some space between the text and edges */
  overflow: hidden; /* Hide any overflowing content */
}


.trail-box:hover .local-description {
  color: #fff;
  /* Show the text on hover */
}

.trail-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background color */
  opacity: 0; /* Set the opacity to 0 initially to make it transparent */
  transition: opacity 0.5s; /* Add transition for smooth effect */
}

.trail-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  border-radius: 0 0 5px 5px; /* Add rounded corners only to the bottom */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.trail-box:hover::before {
  opacity: 1;
}

.trail-box .name-distance {
  padding: 1px;
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.5s, visibility 0.5s;
}

.trail-box:hover .distance,
.trail-box:hover .local-park-name {
  /* Add this style to hide distance and local-park-name on hover */
  opacity: 0;
}

.trail-box:hover .name-distance{
opacity: 0;
}

.local-park-name {
  font-size: 22px; /* Adjust the font size as needed */
  text-align: center; /* Center the park name */
}

.distance {
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center; /* Center the distance */
}