.local-trails-section {
  margin-top: 40px;
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.local-trails-heading {
  color: rgb(16, 65, 16);
  /* flex: 1; */
  font-size: 24px;
  padding-right: 2em;
  /* Adjust the padding value as needed */
  /* margin-top: auto; */
  margin-bottom: auto;
}

.local-heading {
  margin-bottom: 0px;
  padding-left: 40px;
}

.local-subheading {
  margin-top: 10px;
  font-weight: 200;
  font-size: 1em;
  padding-left: 40px;
}

.local-trails-container {
  color: rgb(16, 65, 16);
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  padding-right: 50px;
  height: 600px;
  /* adjust this as needed */
  overflow: auto;
  /* enable scrolling when the content overflows */
}

/* Width */
.local-trails-container::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
.local-trails-container::-webkit-scrollbar-thumb {
  background: rgb(16, 65, 16);
}

/* Handle on hover */
.local-trails-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.local-button {
  font-size: .8em;
  padding: .8rem 1.5rem;
  border: none;
  background-color: rgb(16, 65, 16);
  border: 1px solid rgb(16, 65, 16);
  color: white;
  border-radius: 5%;
  cursor: pointer;
  transition: background-color 0.8s ease;
  margin-left: 40px;
}

.local-button:hover {
  background-color: rgb(9, 37, 9);
  border-radius: 5%;
}

.trail-box .description-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  overflow: auto;
  max-height: 200px;
}

.trail-box .description-container .local-description {
  font-size: 16px;
  color: transparent;
  transition: color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.local-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* Add width to make the local container take up full width */
  /* margin-bottom: 40px; */
  padding-bottom: 90px;
  background: linear-gradient(to bottom, antiquewhite 0%, rgb(240, 220, 200) 50%, rgb(200, 180, 160) 80%, rgb(170, 150, 130) 100%);
  /* from antiquewhite at the top to darker antiquewhite at the bottom */
}

.local-loading-animation-container {
  margin-left: 100px;
  margin-top: -100px;
}

.trail-box .local-description::-webkit-scrollbar {
  width: 15px;
  /* increase width of scrollbar */
}

/* Track */
.trail-box .local-description::-webkit-scrollbar-track {}

/* Handle */
.trail-box .local-description::-webkit-scrollbar-thumb {
  background: transparent;
  /* color of the handle */
}

/* Handle on hover */
.trail-box .local-description:hover::-webkit-scrollbar-thumb {
  background: rgb(16, 65, 16);
  /* color of the handle when hovered */
}

/* Handle on hover */
.trail-box .local-description::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* color of the handle when hovered */
}

.trail-box {
  border-radius: 5%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  flex: 1 1 150px;
  height: 225px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border: 5px solid #ffffff;
}

.trail-box .local-description {
  font-size: 16px;
  color: transparent;
  transition: color 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  overflow: auto;
  max-height: 200px;
}

.trail-box:hover .local-description {
  color: #fff;
}

.trail-box .local-description .text-content {
  /* the following properties will center the text when it's less than the height of the box */
  display: flex;
  align-items: center;
  justify-content: center;
  /* This will ensure that text doesn't shrink, and occupies the full width */
  width: 100%;
}

.trail-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Darken the background color */
  opacity: 0;
  /* Set the opacity to 0 initially to make it transparent */
  transition: opacity 0.5s;
  /* Add transition for smooth effect */
}

.trail-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  border-radius: 0 0 5px 5px;
  /* Add rounded corners only to the bottom */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.trail-box:hover::before {
  opacity: 1;
}

.trail-box .name-distance {
  padding: 1px;
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.5s, visibility 0.5s;
}

.trail-box:hover .distance,
.trail-box:hover .local-park-name {
  /* Add this style to hide distance and local-park-name on hover */
  opacity: 0;
}

.trail-box:hover .name-distance {
  opacity: 0;
}

.local-park-name {
  font-size: 22px;
  /* Adjust the font size as needed */
  text-align: center;
  /* Center the park name */
}

.distance {
  font-size: 16px;
  /* Adjust the font size as needed */
  text-align: center;
  /* Center the distance */
}