.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    /* Adjust the vertical alignment */
}


.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(209, 218, 200); */
    /* background-color: rgba(255, 255, 255, 0.1); */
    z-index: -1;
}

.home-container::after {
    content: "";
    /* background-image: url(https://scontent.fewr1-6.fna.fbcdn.net/v/t39.30808-6/325897848_888802729231088_473285096808685131_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=ogW8NZZXqcIAX9KGh8N&_nc_ht=scontent.fewr1-6.fna&oh=00_AfDVBGgOPJ-eIbVNFo0ylCs680Ubhig-RE3e8NLbo3mnjA&oe=648C5227); */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.featured-park h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.featured-park {
    position: relative;
    height: 60vh;
}

.featured-park img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s;
    /* Transition property for the fade effect */
}

.featured-park img.fade-in-out {
    opacity: 1;
    /* Visible when the fade-in-out class is added */
}

.resources-links {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    /* margin-top: 90px; */
    margin-bottom: 50px;
    padding-left: 1em;
}

.resources-heading {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 500;
    color: rgb(16, 65, 16);
    /* margin-top: 20px; */
    margin-bottom: 0px;
}

.resources-subheading {
    display: flex;
    justify-content: center;
    font-weight: 200;
    color: rgb(16, 65, 16);
    margin-top: 10px;
    margin-bottom: 0px;
}

.link-section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.link-box {
    border-radius: 5%;
    position: relative;
    border: 5px solid #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    transition: background-color 0.3s;
    /* margin: 20px; */
    flex: 0 0 250px;
    /* Set a fixed width for the boxes */
    height: 250px;
    /* Adjust the height as desired */
}

.link-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the darkness of the overlay */
    opacity: 0;
    transition: opacity 0.3s;
}

.link-box:hover::before {
    opacity: 1;
}

.link-box h3 {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    /* Hide the text by default */
    transition: color 0.3s;
}

.link-box:hover h3 {
    color: #fff;
    /* Show the text on hover */
}

.link-box::before {
    border-radius: 5%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the darkness of the overlay */
    opacity: 0;
    transition: opacity 0.3s;
}

.link-box:hover::before {
    border-radius: 5%;
    opacity: 1;
}

.quiz-box {
    background-image: url('https://cf-images.us-east-1.prod.boltdns.net/v1/static/3281700261001/e8c5fa08-c2a4-4de1-bb05-467adaca2161/ad1f1d74-11c1-4959-84de-a751d0e18297/1280x720/match/image.jpg');
    background-size: cover;
    background-position: center;
}

.map-box {
    background-image: url('https://belayonadvisors.com/wp-content/uploads/2015/04/map-and-compass-1080x675.jpg');
    background-size: cover;
    background-position: center;
}

.trending-box {
    background-image: url('https://pcdn.columbian.com/wp-content/uploads/2015/09/Outdoors_10_Washington_Hi2.jpg');
    background-size: cover;
    background-position: center;
}

.forests-box {
    background-image: url('https://www.tripsavvy.com/thmb/OOChkpfWdyybX2c6siPA31_0tpU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/autumn-color-and-snow-at-foot-of-mount-madison-in-presidential-range-of-new-hampshires-white-mountains--white-mountain-national-forest--new-hampshire--usa-556444377-5bff656d4cedfd002653df0d.jpg');
    background-size: cover;
    background-position: center;
}

.local-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* Add width to make the local container take up full width */
    /* margin-bottom: 40px; */
    padding-bottom: 90px;
    background-color: antiquewhite;
}

.loading-animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 10px solid white;
    ;
}

.loading-animation {
    width: 600px;
    height: 600px;
}

.fade-in-out {
    transition: opacity 0.5s;
}